

/* ----login css ---- */
@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login{
  width: 100%;
  margin: 0 auto;
}

.social-button{
  margin-right: 25px;
}

.omb_login .omb_authTitle {
    text-align: center;
  line-height: 300%;
}
  
.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg 
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
  opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}     

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

  
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
    margin-top:10px;
  }   
}

.login-main{
  width: 75%;
  margin-left: auto ;
  margin-right: auto;
  margin-top: 50px;
}

.signup{
  
  padding: 20px 10px 10px 10px;
  width: 40%;
  border: 1px solid #E6E6E6;
  margin-right: 20px;
}

.signin-head{
  font-size: 25px;
}

.intro-divider{
  border: 1px solid #ccc;
  width: 90%;
  margin-bottom: 5%;
}

.pass{
  width: 115px;
  font-size: 13px;
}

/*-------------dashboard-----   */


.pic
{
     width:150px;
     margin-bottom: 7px;
     margin-right: 20px;
}

.pic-upload{
	position: relative;
	
	bottom: 0px;
}

.edit-profile
{
  background-color: #F0F0F0;
  border: 1px solid #B7B7B7;
  color: #000;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: 0px 1px 0px #82CDF3 inset;

}

.panel {

  margin-bottom: 12px;
  padding: 20px 20px 20px 20px; 
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.profile{

}

.profile-bio{
  margin-right: 10px;
  width: 74%;
  padding: 5px 5px 5px 5px;
}

.view-bio{
  margin-right: 10px;
  width: 510px;
  padding: 5px 5px 5px 5px;
}


small{
  font-family: Courier, Monaco, monospace;
  font-size: 20px;
  font-weight: bold; 
}

/*-----------dashboard ends---------------  */


/*------------added css---- */

.main-content{
  width: 100%;
  padding: 10px 10px 10px 10px;
}

#nav-right-profile{
  width: 30%;
  text-align: center;
  margin: 0 auto;
  float: right;
  padding-right: 10px;
}

.col-md-2{
  border-right: 1px solid #CCC;
  height: 600px;
}

.clear {
    clear: both;
  }

.left-panel{
  margin-bottom: 35px !important;
}

.left-heading{
  font-size: 14px;
}

.profile-writeup{
  margin-left: 40px;
  width: 150px;

}

.profile-box{
  margin: 10px 0 0 0;
  
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.bolder{
  font-weight: bold;
}


/*-----hackathon page ---  */
.hack-page{
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	min-height: 700px;

}

.hack-headline{
	float: top;
	width: 300px;
	height: 100px;
	font-size: 19px;
	margin-bottom: 15px;
}

.hack-content{
	width: 100%;
	min-height: 150px;
	padding-top: 5px;

}

.events{
	width: 100%;
font-size: 15px;
padding-bottom: 20px;
margin-top: 35px;
}

.hack-box{
	margin-bottom: 25px;
	width: 1000px;
	height: 200px;
	box-shadow: 0px 0px 5px #AAA ;
	padding: 15px 5px 5px 5px;
}

.details{
	position: absolute;
	width: 40%;
	float: left;
	margin-right: 30px;

}

/*-----edit page ---  */

.edit{
  width: 1100px;
  height: auto;
  margin-left: 8%;
}


.edit-basic
{
  display: none;
  background-color: #F0F0F0;
  border: 1px solid #B7B7B7;
  color: #000;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: 0px 1px 0px #82CDF3 inset;
}

.about-me{
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
	width: 800px;
}

.user-info{
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
	background-color: #E0F2F6;
  

}

.title-info{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Bitter',sans-serif;
    border-bottom: 1px solid #DDD;
}

.addmore-skill, 
.addmore-exp,
.addmore-chap {
  text-align: center;
  cursor: pointer;
  padding: 15px 0px;
  font-family: 'Arial',sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #21A2E4;
  margin: 5px 10px 10px;
}

.skill-section,
.exp-section {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
  color: #003274;

}

.skills-title,
.exps-title {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}


.edit-forms{
  margin-top: 20px;
  padding: 5px 0 5px 20px; 
  display: none;
}

form label, form .label {
    font-family: 'Bitter',sans-serif;
    font-size: 14px;
    color: #000;
}

.skill-form,
.exp-form,
.chapter-form{
  display: none;
  margin-bottom: 20px;
  padding-left: 25px;
}



.button{
  padding: 3px 10px 3px 10px;
  font-size: 14px;
  background-color: #2D9DD5;
  text-align: center;
  min-width: 60px;
  color: #fff;
  border: 1px solid #1D87BC;
  border-radius: 3px;

}

.cancel-skillform,
.cancel-expform ,
.cancel-chapform,
.cancel-bio{
  margin-left: 5px;

}

.input-small{
  width: 250px !important;
}

.edit-info{
  
  padding: 5px 5px 5px 5px;
  width: 500px;

}

.submit{
  margin-top: 10px;
}

.wrapper{
  margin-bottom: 20px;
}

.fixed-field{
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
}


/* ---------profile tab------ */

.profile-border{
  padding: 5px;
  width: 690px;
  
}

.tab-content{
  padding: 10px;
}

.skill-header,
.profiles-header {
  
  padding: 3px 10px;
  background-color: #E5E7E8;
  font-weight: bold;
}

.skill-body,
.exp-body {
  padding: 30px 15px 0px;
  margin-bottom: 20px;
}


/* ---------activity tab------ */

.news{
  width: 690px;
}

.alert-box{
  padding-top: 15px;
  margin-bottom: 30px;


}

.alert-body{
  margin-left: 20px;
  
}

.foot-fixed-bottom {
bottom: 0;
display: block;
left: 0;
margin-bottom: 0;
position: fixed;
right: 0;
z-index: 1030;
}


.foot-fixed-bottom .container {
background-color: #ccc;
margin-left: auto;
margin-right: auto;
padding-bottom: 2px;
}


#footer{
  
  background-color: #1B1F23;
  bottom: 0;
  display: block;
  padding: 8px 20px 8px 20px;
  border-top: 1px solid #ccc;
  height: 40px;
  position: absolute;
  width: 100%;

}

#footer p{
  color: #7F8C8D;
}