<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
    
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
  
   <title>
   Geeklab
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap core CSS -->
        
       
        <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}"/>
        <link rel="stylesheet" href="{%static 'css/layout.css'%}"/>
        
        
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        
    </head>
    
    <body>

			<div class="container">

						<nav class="navbar navbar-default" role="navigation">
							<div class="nav">
							  <!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
								    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapseDiv">
								      <span class="sr-only">Toggle navigation</span>
								      <span class="icon-bar"></span>
								      <span class="icon-bar"></span>
								      <span class="icon-bar"></span>
								    </button>
								    <a class="navbar-brand" href="/">Geeklab</a>
								</div>

									<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="navbarCollapseDiv">
								   	
									<form class="navbar-form navbar-left" role="search">
								        <div class="form-group">
								          <input type="text" class="form-control" placeholder="Search" name="q">
								        
								        <button class="btn btn-default search-button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
								        </div>
								     </form>		      
									
									    	


									    
									
									
									    <ul class="nav navbar-nav navbar-right ">
									      	<li><a href="#">Learn</a></li>
										    <li><a href="#">Account</a></li>
										    <li><a href="#" style="padding-top: 10px; padding-bottom: 10px;"><img width="30" height="30" alt="anurag619" src="{%static 'img/pic.png'%}"/></a></li>
													      
									    </ul>
									
								</div>
							</div><!-- /.navbar-collapse -->
						</nav>	

						{% block edit %} {% endblock %}
						
						<div class="well">
							<div class="row">

							{% block left-sidebar %} {% endblock %}

							{% block profile %} {% endblock %}
							</div> <!-- row ends -->
					    </div> 	<!-- well ends -->

					    <div class="col-md-12 text-center footer">
							<p>Copyright © 2014 GeekLab LLP </p>
						</div>

			</div> <!--  container ends   -->

	
<script src="{%static 'js/jquerymin1.11.js'%}"></script>
<script src="{%static 'js/base.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>


<!--script type="text/javascript">

	$('.tags').textext({

            plugins : 'autocomplete suggestions tags filter',

        	suggestions: ['JavaScript','Java','PHP','Ruby','Python','Closure','Delphi','Perl','OCAML','Erlang']
    	
    	});

</script-->


<style type="text/css">
.search-button{
	margin-left: -10px;
}
.container{
	margin-bottom: 0px;
}	
.footer{
	background: #444;
	color: #ccc;
}
</style>





</body>

</html>
