{% extends "base.html" %}
{% load static %}

{% block left-sidebar %}

<div class="col-md-2">

    <ul class="nav nav-pills nav-stacked left-panel">
    	<li class="left-heading float-left bolder">
        			overview
        </li>
      
      <li><a href="#"><i class="fa fa-tag"></i> Your chapters</a></li>
      <li><a href="/hackathons"><i class="fa fa-globe"></i> <u>Events</u></a></li>
      <li><a href="/logout"><i class="fa fa-sign-out"></i> <u>Logout</u></a></li>
    </ul>
    
    <ul class="nav nav-pills nav-stacked">
    	<div class="similar-users">
        		<div class="left-heading float-left bolder">
        			similar users
        		</div>
        		<div class="clear"></div>
    		<div class="profile-box">
    			<div class="profile-pic float-left">
    				<img width="30" height="30"  alt="python image" src="{%static 'img/gravatar.png'%}"></img>
    			</div>
    			<div class="profile-writeup">
    				<a class="users-info" href="/users/...">Anurag Kumar</a>


    			</div>
    			<div class="clear"></div>

    			<div class="profile-box">
    			<div class="profile-pic float-left">
    				<img width="30" height="30"  alt="python image" src="{%static 'img/gravatar.png'%}"></img>
    			</div>
    			<div class="profile-writeup">
    				<a class="users-info" href="/users/...">Linus Torvalds</a>

    			</div>

    			<div class="clear"></div>

    			<div class="profile-box">
    			<div class="profile-pic float-left">
    				<img width="30" height="30"  alt="python image" src="{%static 'img/gravatar.png'%}"></img>
    			</div>
    			<div class="profile-writeup">
    				<a class="users-info" href="/users/...">Richard Stallman</a>

    			</div>

    		</div>
    	</div>	
      
    </ul>
    
</div>


{% endblock %}


{% block profile %}

		<div class="col-md-10">
            <div class="panel">
                
                    <div class="pic float-left">

                        <img src="{%static 'img/profile.jpg'%}"> 
                         
                    </div>
                    
                    <div class="view-bio float-left">
                    	<a href="/student/{{user.username}}/edit"><div class="edit-profile float-right">edit profile</div></a>

                        
                        <h4 class="user-name"><u>{{info.username}}</u></h4>
                            
                        <h5 class="name">{{info.name}}</h5>
                           
                        <h5 class="user-name"><a href= "{{info.website}}" target="_blank">{{info.website}}</a></h5>

                    </div>	
                	<div class="clear"></div>				               
    		</div>
            <div class="clear"></div>
				                
		    <br>
		    <ul class="nav nav-tabs" id="myTab">
		      <li class="active"><a href="#activity" data-toggle="tab"><i class="fa fa-clock-o"></i> Activity</a></li>
		      <li><a href="#profile" data-toggle="tab"><i class="fa fa-plus"></i> Profile</a></li>
		      <li><a href="#contributions" data-toggle="tab"><i class="fa fa-github"></i> Contributions</a></li>
		    </ul>

						    
		    <div class="tab-content">
			      <div class="tab-pane active" id="activity"> <br>

                    <div class="news">

                        <div class="alert-box">

                            <i class="fa fa-star float-left"></i>
                            <div class="alert-body float-left">
                                <span class="regular dark weight-600">Anurag contributed to repository Facebook
                                </span>
                            </div>
                        </div> 

                        <div class="alert-box">

                            <i class="fa fa-star float-left"></i>
                            <div class="alert-body float-left">
                                <span class="regular dark weight-600">Anurag created repository Dropbox
                                </span>
                            </div>
                        </div>

                        <div class="alert-box">

                            <i class="fa fa-star float-left"></i>
                            <div class="alert-body float-left">
                                <span class="regular dark weight-600">Anurag joined chapter Harward
                                </span>
                            </div>
                        </div>

                        <div class="alert-box">

                            <i class="fa fa-star float-left"></i>
                            <div class="alert-body float-left">
                                <span class="regular dark weight-600">Zukerberg answered Anurag's question.
                                </span>
                            </div>
                        </div>


                    </div>


			      </div>

                  <div class="tab-pane" id="profile"><br>

                    <div class="profile-border">

                        <div class="profile-skills">
                            <div class="skill-header profiles-header">
                                Skills
                            </div>

                            <div class="skill-body">

                                <div class="skill-section">
                                    
                                    {% for i in info.skills %}
                                    <div class="skills-title">

                                        <h5 class="skills">title: {{i.title}}</h5>
                                    </div>

                                    {% endfor %}
                                </div>


                            </div>

                        </div>

                        <div class="profile-exp">
                            <div class="exp-header profiles-header">
                                Experience
                            </div>

                            <div class="exp-body">

                                <div class="exp-section">
                                    {% for i in info.exp %}
                                    <div class="exps-title">

                                        <h5 class="skills">Company: {{i.company}}</h5>

                                        <h5 class="skills">Title: {{i.profile}}</h5>

                                        <h5 class="skills">Location: {{i.location}}</h5>

                                        <h5 class="skills">Duration: {{i.duration}}</h5>

                                        <h5 class="skills">Description: {{i.description}}</h5>
                                    </div>

                                    {% endfor %}
                                </div>


                            </div>
                            
                        </div>


                    </div>

                  </div>
                  <div class="tab-pane" id="contributions"><br>


                    <p> this is the contribution page</p>



                  </div>
    		</div>	
		    	        
		</div>


{% endblock %}

							

		
		