{% extends "base.html" %}
{% load static %}

{% block profile %}
	<div class="result"></div>

		<div class="row edit float-left">

        	<div class="col-md-10">
                <div class="panel">
                	<div class="profile">
	                	<div class="pic float-left">
	                    	<img src="{%static 'img/profile.jpg'%}"/> 

	                    	<div class="pic-upload">
	                    		<button style="margin-top:5px">change picture</button>
	                    	</div>
	                    </div>
                    
                    
	                    <!--div class="profile-bio float-left"> 

	                    	<a class="float-right" href="#"><i class="edit-basic-info fa fa-pencil "></i></a>
	                    	              		
	                    		<h5 class="user-name">{{info.name}}</h5>
	                    			
	                    		<h5 class="user-name">{{info.username}}</h5>
	                    			
	                    		<h5 class="user-name"><a href="{{ info.website }}" target="_blank">{{info.website}}</a></h5>	                    		

	                	</div-->	

	                	<div class="edit-info float-left"> 

		        			<form class="inline-form"> {% csrf_token %}
		        				<div class="wrapper basic-info">

		    						<div class="float-left">

		    							{% for i in info.profile %}	

		    								<input type="hidden" id="id" value="{{i.id}}" name="id"/>
				    					
				    					{% endfor %}	    							

		      							<label>Name</label>


		      							
				    					<input type="text" class="form-control input-small" size="100" value="{{info.name}}" name="name"/>
				    					

				    				</div>

				    				
				    				<div class=" float-right">
				    					<label>Username</label><br>
				    					<span class="fixed-field" id="">{{ user.username }}</span>

				    				</div>
					    			
					    		</div>

					    		<div class="clear"></div><br>

				    			<div class="wrapper basic-info">

				    				<div class="float-right">

				    					<label>Chapter</label><br>
				    					<span class="fixed-field" id="">//chapter{{chapter}}</span>
				    				</div>

				    				<div class=" float-left">
				    					<label>Blog/Website</label><br>
				    				
				    					<input type="text" class="form-control input-small" value="{{info.website}}" size="100" name="website"/>

				    				</div>
			    				</div>

			    				<div class="clear"></div>

				  				<div class="buttons submit">
				  					<input class="button" type="submit" value="Save" />
				  					<a href="#" class="cancel-basicform cancel-bio">cancel</a>

				  				</div>

		        			</form>
		        		</div>
		        	</div> <!--profile ends -->

	        		<div class="clear"></div>

        		
        		</div> <!-- panel ends -->        

        		<a href="/student/{{user.username}}/profile"><div class="edit-profile float-right">done editing</div></a>

	        		<div class="clear"></div>
			    <br>

			    <ul class="nav nav-tabs" id="myTab">
			      <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
			      <li><a href="#contributions" data-toggle="tab"><i class="fa fa-github"></i> Contributions</a></li>
			      
			    </ul>
							    
			    <div class="tab-content">
			    	<div class="tab-pane active" id="profile"> <br>
				      

				      	<div class="about-me float-right">

				      		<div id="skill-success"></div>

				      		<div class="user-info">
				      			<div class="title-info">Skills</div><br>

				      			<div class="clear"></div>

				      			<div class="skill-section">

				      				{% for j in info.skill %}
				      				<div class="skills-title">

				      					<a href="#"><i class="fa fa-pencil float-right"></i></a><h5 class="skills">Title: {{j.title}}</h5>

				      				</div>
				      				{% endfor %}
				      				
				      			</div>

				      			<div class="clear"></div>

			      				<div class="skill-form">

				      				<form class="edit-skill-form">{% csrf_token %}  							

				      					
				      					<div class="form-group">

				      						<label>Title</label>

						    				<input type = "text" class="form-control" name="title" placeholder="web designer, software dev. etc" name="skill-title"/> <br>

						    				<label>Skills</label>
						    				<input type= "text" class="form-control tags" name="skills" placeholder="css or html, Illustrator" />

						  				</div>	

						  				<div class="buttons">
						  					<input class="button" type="submit" value="Save"/><a href="#" class="cancel-skillform">cancel</a>

						  				</div>
						  			</form>
						  		</div>

						  		<div class="addmore-skill"><i class="fa fa-plus"> Add Skills</i> <br></div>
				      					
				      				
				      		</div>

				      		<div class="user-info">
				      			<div id="exp-success"></div>

				      			<div class="title-info">Experience</div>

				      			 <br>

				      			 <div class="exp-section">
				      				{% for i in info.exp %}

				      				<div class="exps-title">

				      					<a href="#"><i class="fa fa-pencil float-right"></i></a><h5 class="skills">Company: {{i.company}}</h5>
				      					<h5 class="skills">Title: {{i.profile}}</h5>
				      					<h5 class="skills">Location: {{i.location}}</h5>
				      					<h5 class="skills">Duration: {{i.duration}}</h5>
				      					<h5 class="skills">Description: {{i.description}}</h5>
				      				</div>

				      				{% endfor %}
				      			</div>
				      			<div class="clear"></div>

				      			<div class="exp-form">

					      				<form class="edit-exp-form">{% csrf_token %}
					      					<div class="form-group">

					      						<label>Company</label>

							    				<input type = "text" class="form-control"  placeholder="name of the company you have worked with" name="company"/> <br>

							    				<label>Profile</label>
							    				<input class="form-control" placeholder="your profile as a trainee/intern" id="tags" size="50" name="profile"/>

							    				<label>Location</label>
							    				<input type = "text" class="form-control"  placeholder="work location" name="location" name="location"/> <br>

							    				<label>Duration</label>
							    				<input type = "text" class="form-control"  placeholder="time spent" name="duration" name="duration"/> <br>

							    				<label>Description</label>
							    				<input type = "text" class="form-control"  placeholder="some pointers you wish to add" name="skill-title" name="description"/> <br>

							  				</div>	
							  				<div class="buttons">
							  					<input class="button" type="submit" value="Save"/><a href="#" class="cancel-expform">cancel</a>

							  				</div>
							  			</form>
							  	</div>

							  	<div class="addmore-exp"><i class="fa fa-plus"> Courses/Internships/Training</i>
				      			</div>
				      		</div>

				      		<div class="user-info">
				      			<div class="title-info">Chapters<a href="#"><i class="fa fa-pencil float-right"></i></a>
				      			</div>

				      			<div class="addmore-chap"><i class="fa fa-plus"> Add Chapters</i>
				      			</div>

				      			<div class="chapter-form">

					      				<form class="edit-chapter-form">{% csrf_token %}
					      					<div class="form-group">

					      						<label>Chapter</label>

							    				<input type = "text" class="form-control"  placeholder="your chapter" name="chapter-title"/> <br>

							    				<div class="buttons">
							  						<input class="button" type="submit" value="Save"/><a href="#" class="cancel-chapform">cancel</a>

							  					</div>
						  					</div>
							  			</form>
							  	</div>
				      		</div>
				      	</div>
				    </div>
				

				    <div class="tab-pane" id="contributions"><br>


                    	<p> this is the contribution page</p>



                  	</div>

	    		</div> <!--tab content ends -->	
	    	</div>
	    	<div class="col-md-2"></div>
	    </div>

	    <div class="clear"></div>
	           
{% endblock %}

			