<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
    	
    	<link rel="stylesheet" href="{%static 'css/bootstrap.css'%}"/>
    	<link rel="stylesheet" href="{%static 'css/layout.css'%}"/>
    
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
  
   <title>Geeklab</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap core CSS -->

        
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    
    <body>

		<div class="container">


						<nav class="navbar navbar-default" role="navigation">
							<div class="nav">
							  <!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
								    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								      <span class="sr-only">Toggle navigation</span>
								      <span class="icon-bar"></span>
								      <span class="icon-bar"></span>
								      <span class="icon-bar"></span>
								    </button>
								    <a class="navbar-brand" href="/home">Geeklab</a>
								</div>

									<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								   	
									<div id="nav-right-profile">
									    <ul class="nav navbar-nav navbar-right">
									      	
										    <li><a href="#">Corporate Login</a></li>
										    <li><a href="#">Academic Login</a></li>
										    
									    </ul>
									</div>
								</div>
							</div><!-- /.navbar-collapse -->
						</nav>								

				
				<div class="container">
					    <div class="omb_login">
					    	<h3 class="omb_authTitle">Login or Signup</h3>
							<div class="row omb_row-sm-offset-3 omb_socialButtons">

					        	
							</div>

							<hr class="intro-divider"></hr>

							<div class="login-main">

								<!-- signup-->
								
								<div class="signup float-left bolder">
									<p class="signin-head"> New to Geeklab?</p>

									{% if error %}
										<strong>{{error}}</strong>
									{% endif %}

								<div class="col-xs-12 col-sm-6">	
								    <form class="omb_loginForm" action="/register" method="POST">
								    	{% csrf_token %}
								    	
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input type="text" class="form-control" name="username" placeholder="username">
										</div>
										<span class="help-block"></span>

										<!--div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input type="text" class="form-control" name="email" placeholder="email">
										</div-->
										<span class="help-block"></span>

										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input type="password" class="form-control" name="password" placeholder="password">
										</div>
										<span class="help-block"></span>
															
										<!--div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock"></i></span>
											<input  type="password" class="form-control" name="confirm-password" placeholder="Confirm-Password">
										</div -->
					                    <span class="help-block"></span>

										<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
									</form>
								</div></div>

								<!-- signin -->
								
								<div class="signup float-right">
									<p class="signin-head bolder">Already a member?</p>
								<div class="col-xs-12 col-sm-6">	
								    <form class="omb_loginForm" action="/login" method="POST">
								    	{% csrf_token %}
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input type="text" class="form-control" name="username" placeholder="username">
										</div>
										<span class="help-block"></span>
															
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock"></i></span>
											<input  type="password" class="form-control" name="password" placeholder="Password">
										</div>
					                    <span class="help-block"></span>

										<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
									</form>
								

										<!--div class="col-xs-12 col-sm-3">
											<label class="checkbox">
												<input type="checkbox" value="remember-me">Remember Me
											</label>
										</div-->
										<div class="pass">
											<p><a href="#">Forgot password?</a></p>
										</div>

								</div></div>
							
					    	</div>
							<!--div class="row omb_row-sm-offset-3">
								
							</div-->	    	
						</div>
				</div>  <!-- main-content ends -->

				<div class="clear"> </div>

		</div> <!--  container ends   --> 


		<div id="footer">
			<p>Copyright © 2014 GeekLab LLP </p>

		</div>


    
    
    </body>

</html>